
@font-face {
	font-family: 'shareTech';
	src: url('/assets/fonts/hip/ShareTech-Regular.woff2') format('woff2'),
		url('/assets/fonts/hip/ShareTech-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
